<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Client Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Please enter your query</h1>
            <form action="/" method="POST">

                <div class="form-group">
                    <label>RFQ ID (enter a number)</label>
                    <input type="text" class="form-control form-control-lg" name="rfq_id"
                           value={{ request.form.rfq_id }}>
                </div>

                <div class="form-group">
                    <label>Account ID (enter a number)</label>
                    <input type="text" class="form-control form-control-lg" name="account_id"
                           value={{ request.form.account_id }}>
                </div>

                <div class="form-group">
                    <label>Product Number (enter a number)</label>
                    <input type="text" class="form-control form-control-lg" name="product_number"
                           value={{ request.form.product_number }}>
                </div>

                <div class="form-group">
                    <label>Product Category (enter a string)</label>
                    <input type="text" class="form-control form-control-lg" name="product_category"
                           value={{ request.form.product_category }}>
                </div>

                <div class="form-group">
                    <label>Quantity (enter a number)</label>
                    <input type="text" class="form-control form-control-lg" name="quantity"
                           value={{ request.form.quantity }}>
                </div>

                <div class="btn-group-vertical">
                    <button type="submit" class="btn btn-primary">Submit Your Request</button>
                </div>

            </form>
            <br>
            <br>
            <form action="/" method="GET" content="log">
                <div class="btn-group-vertical">
                    <button type="submit" class="btn btn-primary">End Query and Get Your Request Log From Server</button>
                </div>
            </form>
        </div>
        <br>
        <br>
        <div class="row">
            {% for res in response %}
                <li class="list-group-item">{{ res.text }}</li>
            {% endfor %}
        </div>

    </div>

{% endblock %}


</html>



